<div style="padding: 5%;">
    <mat-grid-list cols="3" rowHeight="3:2">
        <div>
        <mat-grid-tile>
            <mat-card class="example-card" style="margin: 2%;background: #4f64fb;color: white;height: 200px;width: 350px;">
                <mat-card-header>
                    <h1 style="font-size: 100px;padding: 10%;">0</h1>
                </mat-card-header>
            
                <mat-card-content>
                <p style="padding-left: 54px;">
                    <B>Total Number Of Books</B> 
                </p>
                </mat-card-content>
                <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </div>
    
    <div>
        <mat-grid-tile>
            <mat-card class="example-card" style="margin: 2%;background: #fb9e4f;color: white;height: 200px;width: 350px;">
                <mat-card-header>
                    <h1 style="font-size: 100px;padding: 10%;">0</h1>
                </mat-card-header>
            
                <mat-card-content>
                <p style="padding-left: 54px;">
                    <B>Total Book Issued</B> 
                </p>
                </mat-card-content>
                <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </div>
    
        <mat-grid-tile>
            <mat-card class="example-card" style="margin: 2%;background: #00cc2c;color: white;height: 200px;width: 350px;">
                <mat-card-header>
                    <h1 style="font-size: 100px;padding: 10%;">0</h1>
                </mat-card-header>
            
                <mat-card-content>
                <p style="padding-left: 54px;">
                    <B>Total Book Inside Library</B> 
                </p>
                </mat-card-content>
                <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <mat-card class="example-card" style="margin: 2%;background: #f95140fc;color: white;height: 200px;width: 350px;">
                <mat-card-header>
                    <h1 style="font-size: 100px;padding: 10%;">0</h1>
                </mat-card-header>
            
                <mat-card-content>
                <p style="padding-left: 54px;">
                    <B>Pending Fine Amount</B> 
                </p>
                </mat-card-content>
                <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card" style="margin: 2%;background: #afafaf;color: white;height: 200px;width: 350px;">
                <mat-card-header>
                    <h1 style="font-size: 100px;padding: 10%;">0</h1>
                </mat-card-header>
            
                <mat-card-content>
                <p style="padding-left: 54px;">
                    <B>Returned Date Expired</B> 
                </p>
                </mat-card-content>
                <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card" style="margin: 2%;background: #17a2b8;color: white;height: 200px;width: 350px;">
                <mat-card-header>
                    <h1 style="font-size: 100px;padding: 10%;">0</h1>
                </mat-card-header>
            
                <mat-card-content>
                <p style="padding-left: 54px;">
                    <B>Total Number Of Users</B> 
                </p>
                </mat-card-content>
                <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>